/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
	width:100%;
	padding: 5px；
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

.accorionicon{
	background-image: url(../img/icon16_info.png) ;
	background-repeat: no-repeat;   
	width: 16px;   
	height: 16px; 
	text-align: center;   
}

#viewsChart {
	width: 550px;
	height: 550px;
}